html {
  font-family: Arial, sans-serif;
  background-image: url($img);
  color: $text;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}
hr {
  border-style: solid;
  border-color: $accent;
}
a {
  color: $accent;
}
nav img {
  border-radius: 50%;
  vertical-align: middle;
}
nav a {
  padding: 10px
}
blockquote {
  border-left: solid 5px $accent;
}
#searchForm {
  display: none!important;
}
#searchForm:target {
  display: inline !important;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(150, 150, 150, 0.5);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 80%;
}
@media only screen and (min-width: 500px) {
    #searchForm:target { padding-top: 30% }
}
input {
  border-radius: 50px;
  padding: 10px;
  border: none;
  outline: none;
  margin: 10px;
}
